{% load static custom_tags %}

<div class='nav nav-tabs' id='detail-tab' role='tablist'>
    {% for key, val in panes %}
        <a class='nav-link {% if not forloop.counter0 %}active{% endif %}' id='nav-{{ key }}-tab' data-bs-toggle='tab' href='#{{ key }}' role='tab' aria-controls='nav-{{ key }}' aria-selected='true'>
            {{ val }}
        </a>
    {% endfor %}
</div>

<div class='tab-content p-0' id='detail-content'>
    <dl class='row d-flex justify-content-center text'>
        <dt class='col-3 text-right'>Gene</dt>
        <dd class='col-custom p-0'></dd>
        <dd class='col-6'>{{ item.gene }}</dd>

        {% if item.genome_build and item.genome_build != 'na' %}
            <dt class='col-3 text-right'>genome build</dt>
            <dd class='col-custom p-0'></dd>
            <dd class='col-6'>{{ item.genome_build }}</dd>
        {% endif %}

        {% if item.cdna and item.cdna != 'na' %}
            <dt class='col-3 text-right'>c.</dt>
            <dd class='col-custom p-0'></dd>
            <dd class='col-6'>{{ item.cdna }}</dd>
        {% endif %}

        <dt class='col-3 text-right'>p.</dt>
        <dd class='col-custom p-0'></dd>
        <dd class='col-6'>{{ item.protein }}</dd>
    </dl>

    {% for pane_name, _ in panes %}
        <div class='tab-pane fade {% if not forloop.counter0 %}show active{% endif %}' id='{{ pane_name }}' role='tabpanel' aria-labelledby='{{ pane_name }}-tab'>
            <dl class='row d-flex justify-content-center text'>
                {% if item.hotspots.count and pane_name == 'score' %}
                    <dt class='col-3 text-right'>Cancer Hotspot</dt>
                    <dd class='col-custom p-0'></dd>
                    <dd id='hotspot' class='col-6'>
                        <svg width='500' height='20'></svg>
                    </dd>
                {% endif %}

                {% for key, val in item|exec_method:pane_name %}

                    {% if val and val != 'na' and val != 'N/A' %}

                        <dt class='col-3 text-right'>{{ key|capfirst }}</dt>
                        <dd class='col-custom p-0'></dd>
                        <dd class='col-6'>
                            {% if 'pmid' in key|lower %}
                                {% with links=val|get_div_or_link:';' %}
                                    {{ links | safe }}
                                {% endwith %}
                            {% elif pane_name == 'link' %}
                                <a target='_blank' href='{{ val }}'>Link to {{ key }}</a>
                            {% else %}
                                {{ val }}
                            {% endif %}
                        </dd>

                    {% endif %}

                {% endfor %}

                {% if key == 'link' %}
                    <dt class='col-3 text-right'>HCMG</dt>
                    <dd class='col-custom p-0'></dd>
                    <dd class='col-6'>
                        <a target='_blank' href='https://portal.biobase-international.com/hgmd/pro/gene.php?gene={{ item.gene }}'>Link to HGMD</a>
                    </dd>

                    <dt class='col-3 text-right'>IGV</dt>
                    <dd class='col-custom p-0'></dd>
                    <dd class='col-6'>
                        <a target='_blank' href='http://localhost:60151/goto?locus={{ item.chr }}:{{ item.start }}'>Link to IGV</a>
                    </dd>
                {% endif %}
            </dl>
        </div>
    {% endfor %}
</div>

<br class='mt-5 mb-3'/>