{% extends 'base_site.html' %}
{% load static %}


{% block style %}
    <style>
        .bg-image {
            background: url({% static 'images/variant_logo.jpg' %}) center;
            background-size: cover;
        }
    </style>
{% endblock %}


{% block content %}
    <div class='container'>
        <!-- Outer Row -->
        <div class='row justify-content-center'>
            <div class='col-xl-10 col-lg-12 col-md-9'>
                <div class='card o-hidden border-0 shadow-lg my-5'>
                    <div class='card-body p-0'>
                        <!-- Nested Row within Card Body -->
                        <div class='row'>
                            <div class='col-lg-6 d-none d-lg-block bg-image'>

                            </div>
                            <div class='col-lg-6'>
                                <div class='p-5'>
                                    <div class='text-center'>
                                        <h1 class='h4 text-gray-900 mb-4'>Welcome Back!</h1>
                                    </div>
                                    {% if form.errors %}
                                        <p>Your username and password didn't match. Please try again.</p>
                                    {% endif %}

                                    {% if next %}
                                        {% if user.is_authenticated %}
                                            <p>Your account doesn't have access to this page. To proceed,
                                                please login with an account that has access.</p>
                                        {% endif %}
                                    {% endif %}

                                    <form class='user' method='POST' action=''>
                                        {% csrf_token %}
                                        <div class='input-group mb-3'>
                                            <span class='input-group-text' style='width:40px'>
                                                <i class='fa fa-user'></i>
                                            </span>
                                            {{ form.username }}
                                        </div>

                                        <div class='input-group mb-3'>
                                            <span class='input-group-text' style='width:40px'>
                                                <i class='fa fa-key'></i>
                                            </span>
                                            {{ form.password }}
                                        </div>

                                        <hr/>
                                        <button class='btn btn-primary col-12' type='submit'><i class='fa fa-sign-in'></i> Login</button>
                                        <input type='hidden' name='next' value='{{ next }}'/>
                                    </form>
                                    <div class='row text-center mt-2 mr-1'>
                                        <div class='col'>
                                            <p class='kpx_forgotPwd'>
                                                <a class='small' href='{% url 'signup' %}'>Register</a>
                                            </p>
                                        </div>
                                        <div class='col'>
                                            <p class=''>
                                                <a class='small' href='{% url 'password_reset' %}'>Forgot password?</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}