<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'/>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'/>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'/>

    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    {% load static %}
    <link rel='shortcut icon' href='{% static 'images/favicon.ico' %}'/>
    <link type='text/css' rel='stylesheet' href='{% static 'css/main.css' %}'>

    <style>
        .bg-image {
            background: url({% static 'images/variant_logo.jpg' %}) center;
            background-size: cover;
        }
    </style>

    <title>Variant DB {% block title %}{% endblock %}</title>
</head>
<body>
<!-- NavBar -->
<div class='container-fluid px-5 pb-5'>
    <div class='container'>
        <!-- Outer Row -->
        <div class='row justify-content-center'>
            <div class='col-xl-10 col-lg-12 col-md-9'>
                <div class='card o-hidden border-0 shadow-lg my-5'>
                    <div class='card-body p-0'>
                        <!-- Nested Row within Card Body -->
                        <div class='row'>
                            <div class='col-lg-6 d-none d-lg-block bg-image'>

                            </div>
                            <div class='col-lg-6'>
                                <div class='p-5'>
                                    <div class='text-center'>
                                        <h1 class='h4 text-gray-900 mb-4'>Forgot Password</h1>
                                        <br/>
                                    </div>
                                    <form method='post'>
                                        {% csrf_token %}
                                        <div class='form-group required'>
                                            <div class='col-12 input-group'>
                                                <div class='input-group-append'>
                                                    <span class='input-group-text text-sm' style='width:125px'>Email address</span>
                                                </div>
                                                <label for='id_email'></label><input type='email' name='email' class='form-control text-sm' id='id_email' autocomplete='email' maxlength='254' required>
                                            </div>
                                        </div>
                                        <button type='submit' class='btn btn-primary btn-user btn-block'>Reset my password</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src='https://code.jquery.com/jquery-3.5.1.slim.min.js' integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj' crossorigin='anonymous'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous'></script>
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js' integrity='sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI' crossorigin='anonymous'></script>

    <script>
        $('#file').on('change', function () {
            const fileName = $(this).val();
            $(this).next('.custom-file-label').html(fileName.replace(/^.*[\\\/]/, ''));
        })
    </script>
</div>
</body>
</html>