a {
    text-decoration: none !important
}

.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
}

div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
}

.hidden {
    position: absolute;
    visibility: hidden;
    opacity: 0;
}

.collapser {
    cursor: pointer;
}

.double-hr {
    border-top: 3px double #545b62 !important
}

div[data-bs-toggle='collapse'].card-header:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.col-custom {
    flex: 0 0 7%;
    max-width: 7%;
}

.col-custom-1 {
    -ms-flex: 0 0 13.5%;
    flex: 0 0 13.5%;
    max-width: 13.5%;
}

.col-custom-2 {
    -ms-flex: 0 0 22%;
    flex: 0 0 22%;
    max-width: 22%;
    padding-right: 15px;
    padding-left: 15px;
}

.col-custom-1-5 {
    -ms-flex: 0 0 18%;
    flex: 0 0 20%;
    max-width: 19%;
    padding-right: 15px;
    padding-left: 15px;
}

.col-custom-4 {
    -ms-flex: 0 0 32%;
    flex: 0 0 32%;
    max-width: 32%;
    padding-right: 15px;
    padding-left: 15px;
}

fieldset.box_fieldset {
    border: 1px groove #ffffff !important;
    padding: 0.7em 1.4em !important;
    margin: 1.5em;
    -webkit-box-shadow: 0 0 #000;
    box-shadow: 0 0 #000;
}

fieldset.box_fieldset legend a {
    text-decoration: none
}

fieldset#level {
    border: 1px groove #ffffff !important;
    width: 100%;
    padding: 0.7em 1.4em !important;
}

hr {
    border-top: 1px solid rgb(201, 205, 209);
}

hr.divider {
    border-top: 1px solid #545b62 !important;
}

legend {
    text-align: left !important;
    width: auto;
    padding: 0 10px;
    border-bottom: none;
    float: none;
}

.select2-container .select2-selection--single {
    border: 1px solid #ced4da !important;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}

.table > :not(caption) > tr > td {
    border-bottom: grey 1px !important;
}

textarea:read-only {
    box-sizing: border-box;
    overflow-x: hidden;
}

textarea:read-only {
    border: 0;
    padding: 0;
    resize: none;
    overflow-y: hidden;
}