{% load custom_tags %}


<html lang='en'>
<head>
    <title>Variant-KB Export Report</title>
</head>
<body class='px-5 pb-5'>
<div class="jumbotron container-fluid">
    <div class="row">
        <h2 class="col-5">Variant-KB<br/>Export Report</h2>

        <div class="col-7">
            Report by: {{ user }}<br/>
            Gene Name: {{ item.gene }}<br/>
            Variant Name: {{ item }}<br/>
        </div>
    </div>
</div>
<div class='container-fluid'>
    <h4>Variant Information</h4>

    <h4>Disease Information</h4>

    {% for disease in diseases.all %}
        <dl class='row'>
            <dt class='col-2'>Name:</dt>
            <dd class='col-5'>{{ disease.name }}</dd>
            <dt class='col-2'>Branch:</dt>
            <dd class='col-5'>{{ disease.get_branch_display }}</dd>

            <dt class='col-3'>Review Status:</dt>
            <dd class='col-3'>{{ disease.get_reviewed_display }}</dd>
            <dt class='col-3'>Latest Review Date:</dt>
            <dd class='col-3'>{{ disease.get_date }}</dd>
        </dl>

        {% if disease.branch == 'gp' %}
            <dl class='row'>
                <dt class='col-3'>Germline Clinical Report</dt>
                <dd class='col-9'>{{ disease.report }}</dd>
            </dl>

            <dl class='row border p-2'>
                <dd class='col-12 h5'>2015 ACMG Score Result</dd>

                <dt class='col-5'>Evidence FOR Pathogenicity</dt>
                <dd class='col-7'>{{ disease.score.for_score }}</dd>

                <dt class='col-5'>Evidence AGAINST Pathogenicity</dt>
                <dd class='col-7'>{{ disease.score.against_score }}</dd>

                <dt class='col-5'>ACMG Classification</dt>
                <dd class='col-7'>{{ disease.score.content }}</dd>
            </dl>

            <h5>Evidences</h5>
            {% for evid in disease.evidences.all %}
                {% if evid.source_id or evid.statement %}
                    <dl class='row'>
                        {% if forloop.counter0|divisibleby:3 %}
                            <dt class='col-12'>{{ None|get_label:evid.item }}</dt>
                        {% endif %}

                        <dt class='col-3'>Source Type</dt>
                        <dd class='col-3'>{{ evid.get_source_type_display }}</dd>

                        <dt class='col-3'>Source ID</dt>
                        <dd class='col-3'>{{ evid.source_id }}</dd>

                        <dt class='col-3'>Statement</dt>
                        <dd class='col-9'>{{ evid.statement }}</dd>
                    </dl>
                {% endif %}
            {% endfor %}

        {% else %}

            <hr/>
            <h5>Functional Evidences</h5>
            <dl class='row'>
                <dt class='col-3'>Functional Significance</dt>
                <dd class='col-9'>{{ disease.func_sig }}</dd>

                {% for evid in disease.evidences.all %}
                    {% if evid.item and evid.source_id or evid.item and evid.statement %}
                        <dt class='col-4'>Functional Class</dt>
                        <dd class='col-8'>{{ evid.item }}</dd>

                        <dt class='col-3'>Source Type</dt>
                        <dd class='col-3'>{{ evid.get_source_type_display }}</dd>

                        <dt class='col-3'>Source ID</dt>
                        <dd class='col-3'>{{ evid.source_id }}</dd>

                        <dt class='col-3'>Statement</dt>
                        <dd class='col-9'>{{ evid.statement }}</dd>

                        <dd class='col-12'><hr/></dd>
                    {% endif %}
                {% endfor %}
            </dl>

            <h5>Actionability Evidences</h5>
            <dl class='row'>
                {% for evid in disease.evidences.all %}
                    {% if not evid.item and evid.source_id or not evid.item and evid.statement %}
                        <dt class='col-3'>Source Type</dt>
                        <dd class='col-3'>{{ evid.get_source_type_display }}</dd>

                        <dt class='col-3'>Source ID</dt>
                        <dd class='col-3'>{{ evid.source_id }}</dd>

                        <dt class='col-3'>Statement</dt>
                        <dd class='col-9'>{{ evid.statement }}</dd>

                        <dt class='col-3'>Evidence Significance</dt>
                        <dd class='col-3'>{{ evid.evid_sig }}</dd>

                        <dt class='col-3'>Evidence Level</dt>
                        <dd class='col-3'>{{ evid.level }}</dd>

                        <dt class='col-3'>Evidence Direction</dt>
                        <dd class='col-3'>{{ evid.evid_dir }}</dd>

                        <dt class='col-3'>Clinical Significance</dt>
                        <dd class='col-3'>{{ evid.clin_sig }}</dd>

                        <dt class='col-3'>Drug/Drug Class/Dx</dt>
                        <dd class='col-3'>{{ evid.drug_class }}</dd>

                        <dt class='col-3'>Evidence Rating</dt>
                        <dd class='col-3'>{{ evid.evid_rating }}</dd>

                        <dd class='col-12'><hr/></dd>
                    {% endif %}
                {% endfor %}

            </dl>

            <h5>Reports</h5>
            <dl class='row'>
                {% for report in disease.reports.all %}
                    <dt class='col-3'>{{ report.report_name }}</dt>
                    <dd class='col-9'>{{ report.content }}</dd>
                {% endfor %}
                <dd class='col-12'><hr/></dd>
            </dl>
        {% endif %}

    {% endfor %}
</div>
</body>
</html>