{% extends 'base_site.html' %}
{% load widget_tweaks %}


{% block content %}
    <form class='col-6 offset-md-3 card card-body' method='post' action="{% url 'search' %}">
        {% csrf_token %}
        <dl class='form-row mb-2'>
            <dd class='col-12'>{{ form.gene__name__icontains }}</dd>
            <dd class='col-6'>{{ form.protein__icontains }}</dd>
            <dd class='col-6'>{{ form.cdna__icontains }}</dd>
            <dd class='col-6'>{% render_field form.diseases__name__icontains style='width:100%;' %}</dd>
            <dd class='col-6'>{% render_field form.diseases__name__icontains2 style='width:100%;' %}</dd>
        </dl>

        <div class='form-group row mt-4'>
            <div class='offset-md-3 col-6'>
                <button type='submit' class='btn btn-primary col-12 py-2'>Search</button>
            </div>
        </div>
    </form>
{% endblock %}


{% block script %}
    <script>
        $('#id_diseases__name__icontains').select2({
            selectionCssClass: "form-select", placeholder: "SO Disease",
            allowClear: false, tags: true, width: 'style',
            matcher: modelMatcher
        });
        $('#id_diseases__name__icontains2').select2({
            selectionCssClass: "form-select", placeholder: "GP Disease",
            allowClear: false, tags: true, width: 'style',
            matcher: modelMatcher
        });
        $('span.select2').addClass('col p-0');
        $('.select2-selection').removeClass('select2-selection--single');
    </script>
{% endblock %}