{% extends 'base_site.html' %}
{% load custom_tags static %}


{% block button %}
    <a class='btn btn-primary' href='{% url 'variant' item.gene.name item.protein %}'>Edit</a>
    <div class='btn dropdown no-arrow'>
        <a class='text-black-50' href='#' role='button' id='dropdownMenuLink' data-bs-toggle='dropdown'
           aria-haspopup='true' aria-expanded='false'>
            <i class='btn btn-outline-primary fa fa-bars pe-7s-menu text-gray-400'></i>
        </a>
        <div class='dropdown-menu dropdown-menu-right shadow animated--fade-in' aria-labelledby='dropdownMenuLink'>
            <div class='dropdown-header'>Options:</div>
            <a class='dropdown-item' href='#' onclick='window.print();return false;'>Print</a>
            <a class='dropdown-item' href='{% url 'history' item.gene.name item.protein %}'>History</a>
            <a class='dropdown-item' href='{% url 'export' item.gene.name item.protein %}'>Export</a>
        </div>
    </div>
{% endblock %}


{% block content %}
    <div class='card my-5 card-body p-0 shadow-none'>
        {% include 'partials/_detail.html' %}
    </div>

    <div class='container-fluid card shadow-none my-5 mx-0 p-0 row'>
        <div class='card-header'>
            <div class='font-weight-bold h6 my-auto'>Gene Rule: {{ item.gene }}</div>
        </div>
        <div class='card-body container pb-0'>
            <dl class='row'>
                {% for key, val in item.gene.get_fields.items %}
                    {% if 'Act' in key or 'Note' in key or 'Date' in key %}
                        <dt class='col-4 my-1'>{{ key }}</dt>
                        <dd class='col-8 my-1'>{{ val }}</dd>
                    {% endif %}
                {% endfor %}
            </dl>
        </div>
    </div>

    <div class='card my-5 shadow-none'>
        <div class='container-fluid m-0 p-0 row'>
            {% if item.diseases.count %}
                <div class='nav nav-tabs mb-0' id='nav-tab' role='tablist'>
                    {% for dx in item.diseases.all %}
                        <a class='nav-link {% if forloop.counter0 == 0 %}active{% endif %}'
                           href='#div{{ forloop.counter0 }}' data-bs-toggle='tab' role='tab' aria-controls='nav'
                           aria-selected='false'>
                            {{ dx.branch | upper }} Disease: {{ dx.name }}
                        </a>
                    {% endfor %}
                </div>
            {% endif %}

            <div class='p-0 tab-content' id='tab-content'>
                {% for dx in item.diseases.all %}
                    <div id='div{{ forloop.counter0 }}' class='tab-pane fade {% if forloop.counter0 == 0 %}active show{% endif %}' role='tabpanel' aria-labelledby='nav-tab'>
                        <div id='label' class='card-header container-fluid d-flex justify-content-between'>
                            <div class='font-weight-bold h6 my-2'>
                                {{ dx.name }} / {{ dx.get_reviewed_display }} {% if dx.get_date %}[{{ dx.get_date|date:'N j, Y' }}]{% endif %}
                            </div>

                            <div class='h6 font-weight-bold my-auto' style='margin-right: 0'>
                                Branch: {{ dx.get_branch_display }}
                            </div>
                        </div>

                        <div class='card-body container pb-0'>
                            <dl class='row'>
                                {% with items=dx %}
                                    {% include 'partials/_field_grp.html' %}
                                {% endwith %}
                            </dl>
                        </div>

                        {% if dx.score %}
                            <div class='card-header border-top h6 mr-auto my-2'>2015 ACMG Score</div>
                            <div class='card-body container pb-0'>
                                <dl class='row'>
                                    {% with items=dx.score %}
                                        {% include 'partials/_field_grp.html' %}
                                    {% endwith %}
                                </dl>
                            </div>
                        {% endif %}

                        {% if dx.branch == 'so' %}

                            <div class='card-header border-top h6 mr-auto my-2'>Functional Evidences</div>
                            <div class='card-body container pb-0'>
                                <dl class='row my-2'>
                                    {% for items in dx.evidences.all %}
                                        {% if items.item and items.source_id or items.item and items.statement %}
                                            <dt class='col-4'>Functional Class</dt>
                                            <dd class='col-8'>{{ items.item }}</dd>

                                            {% include 'partials/_field_grp.html' %}
                                        {% endif %}
                                    {% endfor %}
                                </dl>
                            </div>

                            <div class='card-header border-top h6 mr-auto my-2'>Actionability Evidences</div>
                            <div class='card-body container pb-0'>
                                <dl class='row my-2'>
                                    {% for items in dx.evidences.all %}
                                        {% if not items.item and items.source_id or not items.item and items.statement %}
                                            {% include 'partials/_field_grp.html' %}
                                        {% endif %}
                                    {% endfor %}
                                </dl>
                            </div>

                            <div class='card-header border-top h6 mr-auto my-2'>Reports</div>
                            <div class='card-body container pb-0'>
                                <dl class='row my-2'>
                                    {% for report in dx.reports.all %}
                                        {% for item, val in report|get_values %}
                                            {% if item == 'content' %}
                                                <dd class='col-6'>{{ val }}</dd>
                                            {% else %}
                                                <dt class='col-4'>{{ val|capfirst }} Report</dt>
                                            {% endif %}
                                        {% endfor %}

                                        {% if forloop.first %}
                                            <dd class='col-2'>
                                                <button type='button' class='btn btn-secondary' onclick='copyReport()'>Copy</button>
                                            </dd>
                                        {% endif %}
                                    {% endfor %}
                                </dl>
                                <input hidden id='copy_result' aria-label='Copy Result' value='{% for report in dx.reports.all %}{{ report.content }};{% endfor %}'/>
                            </div>

                        {% else %}

                            {% for evid in dx.evidences.all %}
                                {% if evid.item == '0' and forloop.first %}
                                    <div class='card-header border-top h6 mr-auto my-2'>For Pathogenicity</div>
                                    <div id='for_score' class='card-body container'>
                                        {% elif evid.item == '17' and forloop.counter == 52 %}
                                    </div>
                                    <div class='card-header border-top h6 mr-auto my-2'>Against Pathogenicity</div>
                                    <div id='against_score' class='card-body container'>
                                {% endif %}


                            {% if evid.source_id or evid.statement %}

                                <strong class='row col-12'>{{ None|get_label:evid.item }}</strong>

                                {% with items=evid %}
                                    <dl class='row form-group my-2'>
                                        {% include 'partials/_field_grp.html' %}
                                    </dl>
                                {% endwith %}
                            {% endif %}

                            {% if forloop.last %}
                                </div>
                            {% endif %}
                            {% endfor %}

                        {% endif %}

                        <div id='label' class='card-header h6 my-2'>Review</div>
                        <div class='card-body container pb-0'>
                            <dl class='row'>
                                <dt class='col-4'>Curation Notes</dt>
                                <dd class='col-8'>{{ dx.curation_notes }}</dd>
                            </dl>
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}


{% block script %}
    <script src='https://d3js.org/d3.v4.min.js'></script>
    <script src="{% static 'js/autosize.min.js' %}"></script>
    <script src="{% static 'js/detail.js' %}"></script>
    <script>
        $(document).ready(function () {
            autosize(document.querySelectorAll('textarea'));
            let min_height = 0, tabs = $('#detail-content .tab-pane');
            $.each(tabs, function () {
                this.classList.add('active'); /* make all visible */
                min_height = (this.clientHeight > min_height ? this.clientHeight : min_height);
                if (!$(this).hasClass('show')) {
                    this.classList.remove('active'); /* hide again */
                }
            });

            $.each(tabs, function () {
                $(this).css('min-height', min_height);
            });

            {% if item.hotspots.count %}
                const color = d3.scaleOrdinal(d3.schemeCategory10).domain(['*', 'A', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'K', 'L', 'M', 'N', 'P', 'Q', 'R', 'S', 'T', 'V', 'W', 'Y', 'sp']),
                    group = [{% for hotspot in item.hotspots.all %}'{{ hotspot.hotspot }}',{% endfor %}],
                    data = [{
                        {% for hotspot in item.hotspots.all %}'{{ hotspot.hotspot }}' : {{ hotspot.count }},{% endfor %}
                    }];
                hotspot_graph(color, group, data);
            {% endif %}

            let pred_type1 = {
                'D': 'probably damaging', 'P': 'possibly damaging', 'B': 'benign',
                'H': 'high', 'M': 'medium', 'L': 'low', 'N': 'neutral', 'na': 'na'
            }, pred_type2 = {'D': 'deleterious', 'T': 'tolerated', 'N': 'neutral', 'U': 'unknown', 'na': 'na'}

            $.each($('.pred'), function (_, elem) {
                elem = $(elem)
                if (/mutation|polyphen2/g.exec(elem.attr('id')) && pred_type1.hasOwnProperty(elem.text())) {
                    elem.text(pred_type1[elem.text()])
                } else if (pred_type2.hasOwnProperty(elem.text())) {
                    elem.text(pred_type2[elem.text()])
                }
            })
        });
    </script>
{% endblock %}