{% extends 'base_site.html' %}
{% load widget_tweaks custom_tags static %}


{% block content %}
    <form id='save_form' action='' method='POST' onsubmit='return submitMsg()'>
        <div class='card my-5 shadow-none card-body p-0'>
            {% include 'partials/_detail.html' %}

            <div id='form-errors'>
                <!-- Temporary -->
                {% for form in forms %}
                    {{ form.management_form }}
                    {% for sub_form in form.get_forms %}
                        {{ sub_form.management_form }}
                        {% if sub_form.errors|length > 10000 %}
                            { { sub_form.prefix }} { { sub_form.errors }}<br/><br/>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
        </div>

        <div class='card my-5 shadow-none container-fluid m-0 p-0'>
            {% csrf_token %}

            <div class='row m-0 p-0'>
                <div class='nav nav-tabs col-8 d-flex justify-content-start mb-0' id='nav-tab' role='tablist'>
                    <a class='empty-form nav-item nav-link py-auto active' id='empty-link' type='button' href='#empty-form' data-bs-toggle='tab' role='tab' aria-controls='nav-new' aria-selected='true' {% if dx_num %}hidden{% endif %} onclick=''>
                        Add Interpretation
                    </a>

                    {% for formset in forms %}
                        {% for form in formset.forms %}
                            <a class='nav-item nav-link py-auto' id='id_{{ form.prefix }}-tab' type='button' href='#{{ form.prefix }}-form' data-bs-toggle='tab' role='tab' {% if form.branch.value == 'no' or not form.instance.variant %}hidden{% endif %}>
                                {{ form.branch.value | upper }}: {{ form.name.value }}
                            </a>
                        {% endfor %}
                    {% endfor %}
                </div>

                <div class='nav nav-tabs col-4 d-flex justify-content-end p-0 form-inline mb-0' id='nav-tab' role='tablist'>
                    <a class='nav-item nav-link py-auto bg-light' type='button' role='tab' onclick='history.back()'>Cancel</a>
                    <input id='anchor' class='nav-item nav-link py-auto bg-white' type='submit' value='Save' role='tab'>
                </div>
            </div>

            <div class='p-0 tab-content' id='tab-content'>
                <div class='tab-pane fade active show' id='empty-form'>
                    <div class='card-header container-fluid row m-0'>
                        <div class='h6 col-8 d-flex justify-content-start my-2'>[Disease] / [Status]</div>

                        <div class='col-4 d-flex justify-content-end form-check-inline mr-0'>
                            <label class='h6 my-auto' for='{{ forms.0.empty_form.branch.id_for_label }}'>
                                {{ forms.0.empty_form.branch.label }}:
                            </label>

                            <fieldset class='h6 my-auto' onchange='add_disease($(this.firstElementChild))'>
                                {{ forms.0.empty_form.branch }}
                            </fieldset>
                        </div>
                    </div>
                </div>

                {% for formset in forms %}
                    {% for form in formset.forms %}
                        <div class='tab-pane fade' id='{{ form.prefix }}-form'>
                            <div class='card-header container-fluid row m-0'>
                                <div id='id_{{ form.prefix }}-label' class='font-weight-bold h6 col-8 d-flex justify-content-start my-2'>
                                    {% if form.name.value %}{{ form.name.value }} / {{ form.reviewed.value|get_review_val }} {% if form.instance.get_date %}[{{ form.instance.get_date|date:'N j, Y' }}]{% endif %}{% else %}
                                        [Disease] / [Status]{% endif %}
                                </div>

                                <div class='col-4 d-flex justify-content-end form-check-inline mr-0'>
                                    <label class='h6 my-auto' for='{{ form.branch.id_for_label }}'>{{ form.branch.label }}:</label>

                                    <fieldset class='h6 my-auto' {% if form.branch.value != 'no' %}disabled{% endif %}>
                                        {{ form.branch }}
                                    </fieldset>
                                </div>
                            </div>

                            {% if form.branch.value != 'no' %}
                                {% with super_form=form %}
                                    {% include 'partials/_formset.html' %}
                                {% endwith %}

                                <div id='d{{ form.name.id_for_label }}_label' class='card-header h6'>Review</div>
                                <div id='{{ form.prefix }}-div' class='card-body container'>
                                    <dl class='row my-2'>
                                        <dt class='col-2'>{{ form.reviewed.label_tag }}</dt>
                                        <dd class='form-check-inline col-9 text-right'>
                                            {% for field in form.reviewed %}
                                                {% if forloop.first %}
                                                    <fieldset hidden>{{ field }}</fieldset>
                                                {% elif forloop.counter == 2 and user.specialist and form.reviewed.value == 'n' or forloop.counter == 3 and user.counselor and form.reviewed.value == 'r' or forloop.counter == 4 and user.scientist and form.reviewed.value != 'n' and form.reviewed.value != 'a' %}
                                                    <fieldset class='pr-5'>{{ field }}</fieldset>
                                                {% else %}
                                                    <fieldset class='pr-5' disabled>{{ field }}</fieldset>
                                                {% endif %}
                                            {% endfor %}
                                            {#% render_field field placeholder=form.reviewed.name %#}
                                        </dd>
                                    </dl>

                                    <hr class='double-hr'/>

                                    <dl class='row my-2'>
                                        <dt class='col-2'>{{ form.curation_notes.label_tag }}</dt>
                                        <dd class='col-5'>{% render_field form.curation_notes placeholder=form.curation_notes.name %}</dd>
                                        <dd class='col-3'></dd>
                                    </dl>
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </form>
{% endblock %}


{% block script %}
    <script src='https://d3js.org/d3.v4.min.js'></script>
    <script src="{% static 'js/autosize.min.js' %}"></script>
    <script src="{% static 'js/detail.js' %}"></script>
    <script>
        $(document).ready(function () {
            autosize(document.querySelectorAll('textarea'));
            let min_height = 0, tabs = $('#detail-content .tab-pane');
            $.each(tabs, function () {
                this.classList.add('active'); /* make all visible */
                min_height = (this.clientHeight > min_height ? this.clientHeight : min_height);
                if (!$(this).hasClass('show')) this.classList.remove('active'); /* hide again */
                $(this).css('min-height', min_height);
            });

            {% if item.hotspots.count %}
                const color = d3.scaleOrdinal(d3.schemeCategory10).domain(['*', 'A', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'K', 'L', 'M', 'N', 'P', 'Q', 'R', 'S', 'T', 'V', 'W', 'Y', 'sp']),
                    group = [{% for hotspot in item.hotspots.all %}'{{ hotspot.hotspot }}',{% endfor %}],
                    data = [{
                        {% for hotspot in item.hotspots.all %}'{{ hotspot.hotspot }}' : {{ hotspot.count }},{% endfor %}
                    }];
                hotspot_graph(color, group, data);
            {% endif %}

            let pred_type1 = {
                'D': 'probably damaging', 'P': 'possibly damaging', 'B': 'benign',
                'H': 'high', 'M': 'medium', 'L': 'low', 'N': 'neutral', 'na': 'na'
            }, pred_type2 = {'D': 'deleterious', 'T': 'tolerated', 'N': 'neutral', 'U': 'unknown', 'na': 'na'}

            $.each($('.pred'), function (_, elem) {
                elem = $(elem)
                if (/mutation|polyphen2/g.exec(elem.attr('id')) && pred_type1.hasOwnProperty(elem.text())) {
                    elem.text(pred_type1[elem.text()])
                } else if (pred_type2.hasOwnProperty(elem.text())) {
                    elem.text(pred_type2[elem.text()])
                }
            })

            $(':input').removeAttr('required');
            $("input[id^='id_gp-dx-0-path_item'][id$='key']").removeAttr('checked');
            $('li label').addClass('mr-2')
                .parent().attr('style', 'list-style: none;')
                .first().attr('hidden', '');
            $("[id^='id_so-dx'][id*='act'][id$='evid_sig']").attr('onchange', 'setClinSig($(this))')

            $.each($("label[id*='-selector']"), function (i, elem) {
                let jq_elem = $(elem), match = /(.+?item-)(\d+)-item/g.exec(elem.id), index = parseInt(match[2]);
                jq_elem.attr('data-bs-target', jq_elem.attr('data-bs-target') + `,#${match[1] + (index + 1).toString()}-item-div,#${match[1] + (index + 2).toString()}-item-div`)
            })

            let func_sig = $("[id*='func_sig']");
            func_sig.attr('onchange', "tierChange($(this), ['Benign', 'None'])").attr('onload', "tierChange($(this), ['Benign', 'None'])");
            tierChange(func_sig, ['Benign', 'None']);

            $("[id*='func'][id*='content']").each(function () {
                let elem = $(this);
                elem.val(elem.attr('option'))
            });

            $('.card-header').attr('data-bs-target', function () {
                let prefix = $(this).attr('data-bs-target')
                return $(`[id*='${prefix}'][id$='div']`).not("[id*='outer']").attr('id');
            })

            $("[id^='id_gp-dx-'][id$='-name'],[id^='id_so-dx-'][id$='-name']")
                .attr('oninput', 'setHeader(this); get_report(this, {{ item.gene.id }}, {{ item.id }})')
                .select2({
                    selectionCssClass: "form-select", placeholder: "Disease Name",
                    allowClear: false, tags: true, width: 'style', matcher: modelMatcher
                });
            $('span.select2').addClass('p-0');
            $('.select2-selection').removeClass('select2-selection--single');
        });
    </script>
{% endblock %}