{% extends 'base_site.html' %}
{% load render_table from django_tables2 %}
{% load custom_tags %}


{% block button %}
    {% if title %}
        {% if 'Export' in title.1 %}
            <a class='btn btn-outline-primary' type='button' onclick='window.history.back()'>Cancel</a>
            <a class='btn btn-primary text-white' onclick="$('#export').submit()">Export</a>
        {% elif 'History' in title.1  %}
            <button class='btn btn-primary' type='button' onclick='window.history.back()'>Back</button>
        {% endif %}
    {% endif %}
{% endblock %}


{% block content %}
    <div class='card my-5 container'>
        <form id='export' method='post' action='{% if title and 'Export' in title.1 %}{% url 'exported' item.gene.name item.protein %}{% endif %}'>
            {% csrf_token %}
            <!-- Page Body -->
            <div class='card-body'>
                {% if item.class_type == 'Gene' %}
                    <p><strong>Gene Name:</strong> {{ item }}</p>
                    {% if item.content %}<p><strong>Gene-Descriptive:</strong> {{ item.content }}</p>{% endif %}
                    {% if item.germline_content %}<p><strong>Gene Germline Report:</strong> {{ item.germline_content }}</p>{% endif %}
                    <hr/>
                {% endif %}
                {% render_table table %}
            </div>
        </form>
    </div>

    {% if messages %}
        <!--div class='modal fade show' id='uploadModal' tabindex='-1' role='dialog' aria-modal='true' style='display: block; padding-left: 0px;'-->
        <div class='modal' id='warningModal' tabindex='-1' role='dialog' aria-modal='true'>
            <div class='modal-dialog' role='document'>
                <div class='modal-content'>
                    <div class='modal-header'>
                        <h6 class='modal-title' id='warningModalLabel'>Warning Message</h6>
                        <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
                            <span aria-hidden='true'>×</span>
                        </button>
                    </div>
                    <div class='modal-body px-5'>
                        {% for message in messages %}
                            <p {% if message.tags %}class='{{ message.tags }}' {% endif %}>{{ message }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <link rel='stylesheet' href='//cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css'>
{% endblock %}

{% block script %}
    <script src='//cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js'></script>
    <script>
        const warningModal = document.getElementById('warningModal')
        if (warningModal) {
            warningModal.show();
        }
        $(document).ready(function () {
            $('.dataTable').DataTable(
                {% if table.class_type == 'Variant' %}
                    {'scrollX': true, 'sScrollX': '100%', 'sScrollXInner': '110%'}
                {% endif %}
            );
        });

        $('#selectAll').click(function (e) {
            const table = $(e.target).closest('table');
            $('td input:checkbox', table).prop('checked', this.checked);
        });
    </script>
{% endblock %}